.actions {
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100%);
}

.formElement {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subcontent {
    font-style: italic;
    font-size: small;
}