.main-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
  }

  .example-card {
    max-width: 400px;
  }

  .redIcon {
    color: red;
  }

  .redText {
    color: red;
    font-size: larger;
    font-weight: bolder;
  }

  .title {
      margin-bottom: 10px;
      font-size: larger;
      font-weight: bold;
  }

  .qr {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .version {
      font-style: italic;
  }

  .versionDiv {
      background-color: aquamarine;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
  }

  .buildDateDiv {
    background-color: rgb(193, 166, 255);
    padding: 15px;
    border-radius: 10px;
  }

  .backButton {
      margin-top: 15px;
      margin-right: 25%;
      margin-left: 25%;
  }

  .spinner {
      margin: 30px;
  }


