.parent {
    width: 100%;
    height: calc(100% - 64px);
    // display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.example-card {
    min-width: 300px;
    max-width: 600px;
    max-height: 600px;

}

.ubicacionText {
    margin-top: 20px;
    font-size: larger;
    font-weight: bolder;
}

.content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.deleteButton
{
    margin-bottom: 13px;
    margin-left: 13px;
}


.formElement {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    mat-form-field {
        margin-left: 0px;
    }
}

.helpText {
    font-weight: bolder;
    margin-top: 5px;
}

.buttons {
    margin-left: 15px;
    margin-top: 30px;
}

.endButtons {
    margin: 10px;
}

.helpIcon {
    margin-bottom: 4px;
}

.pasteButton {
    margin-left: 10px;
}

.partialTimer {
    margin-left: 15px;
    margin-bottom: 50px;
}

.totalTimer {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 60px;
}

.cleanMiniFab {
    margin-left: 15px;
    vertical-align: middle;
}

.modificable {
    margin-right: 18%;
    margin-left: 18%;
    background-color: rgb(255, 200, 129);
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
}

.partida {
    background-color: rgb(150, 253, 150);
    border-radius: 10px;
    margin-right: 18%;
    margin-left: 18%;
    border: 1px solid rgb(150, 150, 150);
}

.miniHelp {
    margin-top: 4px;
    font-size: 14px;
}

.center {
    text-align: center;
}

.startDate {
    margin-bottom: 35px;
}

.googleMaps {
    background: -prefix-linear-gradient(left, rgb(99, 245, 233), rgb(0, 255, 136));
    background: linear-gradient(to right, rgb(99, 245, 233), rgb(0, 255, 136));
    }
    