<div class="parent">
    <h1 class="formElement">{{ this.receivedSession ? 'Consultar partida' : 'Crear partida' }}</h1>
    <form [formGroup]="form">
        <div formArrayName="coordinates">
            <div *ngFor="let place of coordinates.controls; let i = index;" class="formElement">
                <div [formGroupName]="i">
                    <div>
                        <span class="ubicacionText">Ubicación {{i + 1}}</span>
                        <button mat-raised-button color="primary" class="pasteButton" (click)="pasteCoordinates(i)"
                            [disabled]="this.receivedSession">
                            <span>
                                Pegar desde
                            </span>
                            <mat-icon>
                                map
                            </mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" class="deleteButton" (click)="removePlace(i)" *ngIf="i !== 0"
                            [disabled]="this.receivedSession">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

                    <div>
                        <mat-form-field appearance="outline" class="formElement">
                            <mat-label>Latitud</mat-label>
                            <input matInput placeholder="Latitud" formControlName="latitude"
                                (input)="masks.checkLatitude(coordinates.at(i).get('latitude'))">
                            <button matSuffix mat-icon-button (click)="helpButton()">
                                <mat-icon class="helpIcon">
                                    help
                                </mat-icon>
                            </button>
                            <mat-hint>El rango debe estar entre -90 y +90. Mínimo tiene que tener 4 decimales
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="formElement">
                            <mat-label>Longitud</mat-label>
                            <input matInput placeholder="Longitud" formControlName="longitude"
                                (input)="masks.checkLongitude(coordinates.at(i).get('longitude'))">
                            <button matSuffix mat-icon-button (click)="helpButton()">
                                <mat-icon class="helpIcon">
                                    help
                                </mat-icon>
                            </button>
                            <mat-hint>El rango debe estar entre -180 y +180. Mínimo tiene que tener 4 decimales
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="formElement">
            <button mat-raised-button color="accent" (click)="addPlace()" [disabled]="this.receivedSession">
                <mat-icon>
                    add_circle
                </mat-icon>
                <span>
                    Añadir ubicación
                </span>
            </button>
        </div>

        <div class="formElement">
            <mat-checkbox formControlName="partialTimerCheck" (change)="partialTimerCheckClicked()"
                [disabled]="coordinates.controls.length <= 1">
                Temporizador parcial
            </mat-checkbox>
            <button matSuffix mat-icon-button (click)="helpButton()" *ngIf="coordinates.controls.length <= 1">
                <mat-icon class="helpIcon">
                    help
                </mat-icon>
            </button>
        </div>

        <div class="partialTimer" *ngIf="!!form.getRawValue().partialTimerCheck">
            <mat-form-field appearance="outline">
                <mat-label>Temporizador parcial</mat-label>
                <input matInput placeholder="Parcial" formControlName="partialTimer"
                    (input)="updateValueValidityTimers()">
                <button matSuffix mat-icon-button (click)="helpButton()">
                    <mat-icon class="helpIcon">
                        help
                    </mat-icon>
                </button>
                <mat-hint>
                    <div>
                        Tiempo que hay entre dos distancias (en minutos).
                    </div>
                    <div>
                        Tiempo máximo: {{ maxPartialTime() }} minutos.
                    </div>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="formElement">
            <mat-checkbox formControlName="fullTimerCheck" (change)="fullTimerCheckClicked()">
                Temporizador total
            </mat-checkbox>
        </div>

        <div class="totalTimer" *ngIf="!!form.getRawValue().fullTimerCheck">
            <mat-form-field appearance="outline">
                <mat-label>Temporizador total</mat-label>
                <input matInput placeholder="Latitud" formControlName="fullTimer" (input)="updateValueValidityTimers()">
                <button matSuffix mat-icon-button (click)="helpButton()">
                    <mat-icon class="helpIcon">
                        help
                    </mat-icon>
                </button>
                <mat-hint>
                    <div>
                        Tiempo máximo de la partida (en minutos).
                    </div>
                    <div *ngIf="!!form.getRawValue().partialTimer">
                        Tiempo mínimo: {{coordinates.controls.length * form.getRawValue().partialTimer}}
                        minutos.
                    </div>
                    <div>
                        Tiempo máximo: 1440 minutos / 24 horas.
                    </div>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="formElement">
            <mat-checkbox formControlName="initialDateCheck" (change)="initialDateCheckClicked()">Fecha de inicio
            </mat-checkbox>
        </div>

        <div class="formElement" *ngIf="!!form.getRawValue().initialDateCheck">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput placeholder="dd/mm/yyyy HH:MM" formControlName="initialDate" type="datetime-local"
                    [min]="minDate">
                <button matSuffix mat-icon-button (click)="helpButton()">
                    <mat-icon class="helpIcon">
                        help
                    </mat-icon>
                </button>
                <mat-hint>
                    <div>
                        Hora de inicio para que se inicie de manera sincronizada.
                        <div class="helpText">Formato: dd/mm/yyyy HH:MM</div>
                        <!-- <span>Consejo: Deja tiempo de margen; una vez creada la partida,
                            no se puede modificar. </span> -->
                    </div>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="buttons">
            <!-- Deshabilitado hasta completar la funcionalidad -->
            <button mat-raised-button color="primary" class="endButtons" disabled (click)="print()">
                <mat-icon>
                    save
                </mat-icon>
                <span>
                    Disabled
                </span>
            </button>
            <button mat-raised-button color="accent" class="endButtons" [disabled]="form.invalid"
                (click)="generateImage()">
                <mat-icon>
                    qr_code_2
                </mat-icon>
                <span>
                    QR
                </span>
            </button>
            <button mat-raised-button class="endButtons" [disabled]="form.invalid" (click)="getLink()">
                <mat-icon>
                    link
                </mat-icon>
                <span>
                    Link
                </span>
            </button>
        </div>
    </form>

    <!-- Versión provisional, no se quedará en el resultado final -->
    <!-- <ng-container>

        <div class="formElement" *ngIf="receivedSession">
            <h2>Sesión recibida</h2>
            <pre>{{ receivedSession | json }}</pre>
        </div>

        <div class="formElement" *ngIf="receivedSession">
            <div class="saveButton">
                <button mat-raised-button color="accent" (click)="clearQueryParam()">Volver</button>
            </div>
        </div>

    </ng-container> -->


    <ng-container *ngIf="imageSource">
        <img [src]="imageSource" width="100%" />
    </ng-container>
</div>