<mat-toolbar class="toolbar" color="primary" style="width: 100%;">
    <button mat-button [disabled]="block" (click)="drawer.toggle()" class="mainButton">
        <img src="./assets/compass.png" width="48px" height="48px" />
        <span class="coordinateText" *ngIf="!block">{{ title }}</span>
    </button>
    <span class="toolbarSpacer"></span>

    <button mat-icon-button [routerLink]="['/settings']">
        <div class="blob green"></div>
    </button>

    <div class="blob red"></div>
    <button mat-raised-button color="warn" class="exitButton" (click)="closeModal()" *ngIf="!block">
        <mat-icon>
            logout
        </mat-icon>
        <span>
            Salir
        </span>
    </button>
</mat-toolbar>
<mat-drawer-container [ngClass]="{'sidenavContainer': isMobile, 'sidenavContainerPC': !isMobile}" [hasBackdrop]="true">
    <mat-drawer #drawer mode="push" class="drawer">
        <mat-selection-list #shoes [multiple]="false" (selectionChange)="this.routerChange($event)">
            <mat-list-option *ngFor="let link of linkList" [value]="link.link" [selected]="isCurrentLink(link.link)"
                (click)="drawer.toggle()">
                <div>
                    <mat-icon>
                        {{link.icon}}
                    </mat-icon>
                    <span>
                        {{link.name}}
                    </span>
                </div>
            </mat-list-option>
            <mat-list-option class="add-button" [ngClass]="{'disabledColor': isPwa}" [value]="null" [disabled]="isPwa">
                <div>
                    <mat-icon>
                        {{ isPwa ? 'check_circle' : 'offline_bolt' }}
                    </mat-icon>
                    <span>
                        {{ isPwa ? 'Instalado' : 'Instalar' }}
                    </span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content style="margin: auto; width: 100%; height: 100%;">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>