<mat-toolbar class="toolbar" color="primary">
    <button mat-button (click)="drawer.toggle()">
        <img src="./assets/compass.png" width="48px" height="48px" />
        <span class="coordinateText">Coordinate</span>
    </button>
</mat-toolbar>
<mat-drawer-container class="sidenavContainer" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value" class="drawer">
        <div>
            <button mat-raised-button class="drawerButtons" color="primary">
                Texto de ejemplo 1
            </button>
        </div>
        <div>
            <button mat-raised-button class="drawerButtons" color="accent">
                Texto de ejemplo 2
            </button>
        </div>
        <div>
            <button mat-raised-button class="drawerButtons" color="warn">
                Texto de ejemplo 3
            </button>
        </div>
        <div>
            <button mat-raised-button class="drawerButtons" disabled>
                Texto de ejemplo 4
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content style="margin: auto; width: 100%; height: 100%;">
        <mat-form-field appearance="fill">
            <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value="side">
                <mat-option value="side">Side</mat-option>
                <mat-option value="over">Over</mat-option>
                <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Has backdrop</mat-label>
            <mat-select #hasBackdrop>
                <mat-option>Unset</mat-option>
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-drawer-content>
    <router-outlet></router-outlet>
</mat-drawer-container>