.main-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
  }

  .example-card {
    max-width: 400px;
  }

  .redIcon {
    color: red;
  }

  .redText {
    color: red;
    font-size: larger;
    font-weight: bolder;
  }

  .title {
      margin-bottom: 10px;
  }

  .qr {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .timing {
      font-size: 22px;
      font-weight: bolder;
  }

  .center {
    text-align: center;
  }

  .title {
      margin-bottom: 15px;
      font-size: 16px;
      font-style: italic;
  }

  .marginTop {
      margin-top: 20px;
  }

  .button {
    margin: auto;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
  }

  .minutesText {
    font-weight: bold;
      font-size: 18px;
  }

.googleMaps {
background: -prefix-linear-gradient(left, rgb(245, 211, 99), rgb(255, 89, 0));
background: linear-gradient(to right, rgb(245, 211, 99),rgb(255, 89, 0));
}

.current {
    background-color: rgba(255, 70, 255, 0.486);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.waiting {
    background-color: rgba(253, 174, 70, 0.671);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


.finished {
    background-color: rgba(122, 253, 95, 0.671);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.goingGreen {
    color: green;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.goingRed {
    color: red;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
