<div class="main-div">
    <mat-card class="example-card">
        <div class="title">
            <mat-icon>
                home
            </mat-icon>
            <span>
                Menú principal
            </span>
        </div>
        <mat-selection-list #shoes [multiple]="false" (selectionChange)="this.routerChange($event)">
            <mat-list-option *ngFor="let link of linkList" [value]="link.link" [disabled]="link.name === 'Inicio'"
                [ngClass]="{'disabledColor': link.name === 'Inicio'}">
                <div>
                    <mat-icon>
                        {{link.icon}}
                    </mat-icon>
                    <span>
                        {{link.name}}
                    </span>
                </div>
            </mat-list-option>

            <mat-list-option class="add-button" [ngClass]="{'disabledColor': isPwa}" [value]="null" [disabled]="isPwa">
                <div>
                    <mat-icon>
                        {{ isPwa ? 'check_circle' : 'offline_bolt' }}
                    </mat-icon>
                    <span>
                        {{ isPwa ? 'Instalado' : 'Instalar' }}
                    </span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-card>
</div>