<div class="main-div">
    <div class="verticalCenter">
        <mat-card class="parentCard"
            [ngClass]="{'parentCardOn': isWatchPositionTurnedOn, 'parentCardOff': !isWatchPositionTurnedOn}">
            <div class="center">
                <div class="buttons">
                    <button mat-raised-button color="accent" (click)="stopGPS()" [disabled]="!isWatchPositionTurnedOn">
                        <mat-icon>
                            stop
                        </mat-icon>
                        <span>
                            Apagar GPS
                        </span>
                    </button>
                </div>
            </div>
            <div class="center">
                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="startGPS()" [disabled]="isWatchPositionTurnedOn">
                        <mat-icon>
                            bolt
                        </mat-icon>
                        <span>
                            Encender GPS
                        </span>
                    </button>
                </div>
            </div>
            <div class="center">
                <mat-card *ngIf="isWatchPositionTurnedOn" class="buttons">
                    <div class="title">
                        <mat-icon>
                            explore
                        </mat-icon>
                        <span>
                            Ubicación actual
                        </span>
                    </div>
                    <div *ngIf="position">
                        <div *ngIf="position.latitude && position.longitude" class="marginTop">
                            <mat-icon>
                                place
                            </mat-icon>
                            <span class="minititle">
                                Coordenadas
                            </span>
                            <div>
                                <span>
                                    {{ position.latitude }}, {{ position.longitude }}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="position.speed" class="marginTop">
                            <mat-icon>
                                speed
                            </mat-icon>
                            <span class="minititle">
                                Velocidad
                            </span>
                            <div>
                                <span>
                                    {{ position.speed.toFixed(3) }} km/h
                                </span>
                            </div>
                        </div>
                        <div *ngIf="position.accuracy" class="marginTop">
                            <mat-icon>
                                settings_ethernet
                            </mat-icon>
                            <span class="minititle">
                                Precisión
                            </span>
                            <div>
                                <span>
                                    ±{{ position.accuracy.toFixed(3) }} m
                                </span>
                            </div>
                        </div>
                        <div *ngIf="position.altitude" class="marginTop">
                            <mat-icon>
                                height
                            </mat-icon>
                            <span class="minititle">
                                Altitud aproximada
                            </span>
                            <div>
                                <span>
                                    {{ position.altitude.toFixed(3) }} m
                                </span>
                            </div>
                        </div>

                        <div class="buttons" *ngIf="position.latitude && position.longitude">
                            <button mat-raised-button class="googleMaps" (click)="goToGoogleMaps()">
                                <mat-icon>
                                    map
                                </mat-icon>
                                <span>
                                    Ver en Google Maps
                                </span>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="center">
                <mat-card *ngIf="!isWatchPositionTurnedOn" class="buttons">
                    <div class="titleGpsOff" *ngIf="!showSpinner">
                        <mat-icon>
                            wrong_location
                        </mat-icon>
                        <span>
                            Ubicación desactivada
                        </span>
                    </div>
                    <div class="wrapper">
                        <div *ngIf="showSpinner" class="inner">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="center">
                <div class="buttons">
                    <button mat-raised-button (click)="goBack()">
                        <mat-icon>
                            west
                        </mat-icon>
                        <span>
                            Volver a atrás
                        </span>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>